



.sessionformbg{
  width: 100%;
  margin: 0 auto;
  height: 800px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  top: 0px;
  background-color: rgba(95, 115, 160, 0.56);
  background-size: cover;
}

.session-form-modal {
  margin: 16px 0px;
  position: relative;
}

.session-form-container {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  position: relative;
  text-align: center;
  margin: auto;
  min-height: initial;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
  padding-bottom: 55px;
}

.login-form-container p{
  font-family: Roboto;
  opacity: 1;
  z-index: 5;
  font-weight: 700;
  font-size: 28px;
  color: rgb(85, 85, 85);
  text-align: center;
  background: white;
}

img {
  border-radius: 2px;
  padding: 10px;
  width: 35px;
}

h3 {
  color: rgb(51,51,51);
  font-size: 25px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  letter-spacing: -1.2px;
  margin: 0;
}

.subtitle {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: rgb(51,51,51);
  margin: 0px auto 25px;
  width: 270px;
}

.login-form-container span{
    font-family: Roboto;
    color: rgb(204, 204, 204);
    font-size: 18px;
    position:relative;
}


.login-input {
  display: flex;
  width: 63%;
  margin: 5px auto;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: .5;
  font-size: 15px;
}

.session-submit {
  color: white;
  width: 268px;
  margin: 20px;
  padding: 0px 18px;
  font-size: 15px;
  font-weight: 400;
  font-family: Arial, sans-serif;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgb(189, 8, 28);
  border: 0px;
  height: 30px;
  display: inline-block;
  border-radius: 4px;
}

.errors{
  position: relative;
  list-style: none;
  color: orange;
}

.toggle-link:focus, .toggle-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.toggle-link {
  font-family: Arial, sans-serif;
  font-size: 10px;
}


